<div class='memo memo-lg'><span class='masking-tape'></span>
  <div class="about">
    <h1>ホムスタってなに？</h1>
    <p>自習学習をサポートするサービスです。</p>

    <div class="howto">
      <h1>できること</h1>

      <div>
        <h3>勉強をはじめる</h3>
        <p>勉強を始めるときは開始ボタン、終わるときは終了ボタンを押すことで、時間を測りましょう。</p>
        <p>応援ボタンを押すと、他のユーザーにエールを送ることもできます。</p>
      </div>

      <div>
        <h3>みんなとつながる</h3>
        <p>同じ志を持つ人をみつけたら、フォローすることができます。</p>
        <p>みんなとコミュニケーションをとって、切磋琢磨しましょう！</p>
      </div>
    </div>
  </div>
</div>