<% unless !current_user %>
  <% unless current_user == record.user %>
    <% if current_user.support?(record) %>
      <%= form_with(model: current_user.supports.find_by(record_id: record.id), local: true, method: :delete) do |f| %>
        <%= hidden_field_tag :support_id, record.id %>
        <%= f.button :type => "submit", class: "SupportButton" do %>
          <i class="fas fa-thumbs-up fa-lg"></i>
        <% end %>
      <% end %>
    <% else %>
      <%= form_with(model: current_user.supports.build, local: true) do |f| %>
        <%= hidden_field_tag :support_id, record.id %>
        <%= f.button :type => "submit", class: "SupportButton" do %>
          <i class="far fa-thumbs-up fa-lg"></i>
        <% end %>
      <% end %>
    <% end %>
    <p class="support-counts"><%= support_counts(record) %></p>
  <% end %>
<% end %>