<ul>
  <% microposts.each do |micropost| %>
    <li>
      <div>
        <%= link_to micropost.user.name, user_path(micropost.user) %> | posted_at <%= micropost.created_at %>
      </div>
      <div>
        <p><%= micropost.content %></p>
      </div>
      <p>
        <% if current_user == micropost.user %>
          <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>