
 /** This is a manifest file that'll be compiled into application.css, which will include all the files*/
 /** listed below.*/
 /***/
 /** Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's*/
 /** vendor/assets/stylesheets directory can be referenced here using a relative path.*/
 /***/
 /** You're free to add application-wide styles to this file and they'll appear at the bottom of the*/
 /** compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS*/
 /** files in this directory. Styles in this file should be added after the last require_* statement.*/
 /** It is generally better to create a new file per style scope.*/
 /***/
 /**= require_self*/
 /**= require_tree .*/
 
 

 * {
   boder-sizing: border-box;
   padding: 0;
   margin: 0;
 }
 

 
html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6em;
  width: 100%;
  font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
}
header {
  background: #fff;
  height: 9vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
}

.header-icon {
  font-size: 36px;
  font-weight: bold;
}
.header-menu li
{
  font-size: 20px;
  font-weight: bold;
}

main {
  background-image: url("<%= asset_path('background.jpg') %>");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  position: relative;
  
  .alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.memo {
  position: relative;
  background: #FFF;
  border-left:4px dotted rgba(0,0,0,.1);
  border-right:4px dotted rgba(0,0,0,.1);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  padding: 1em;
  color: #65513f;
  max-width: 1024px;
  
  .masking-tape {
    position: absolute;
    top: -1em;
    background-image: linear-gradient(-45deg, rgba(227, 155, 140, 0.4) 25%, transparent 25%, transparent 50%, rgba(227, 155, 140, 0.4) 50%, rgba(227, 155, 140, 0.4) 75%, transparent 75%, transparent 100%);
    background-size: 20px 20px;
    border-left: 2px dotted rgba(0, 0, 0, 0.1);
    border-right: 2px dotted rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 0.25em 2em;
    color: #65513f;
    transform: rotate(-4deg);
  }
  
  .pagetitle {
    color: #3399FF;
    font-weight: bold;
  }
}

.memo-sm {
  width: 50rem;
  height: 37rem;

  .masking-tape {
    top: -1em;
    left: 38%;
    width: 12rem;
    height: 4rem;
  }
  
  .pagetitle {
    text-align: center;
    font-size: 3rem;
    padding-top: 3rem;
    font-weight: bold;
  }
}
.memo-md {
  width: 50rem;
  height: 65%;

  .masking-tape {
    top: -1em;
    left: 40%;
    width: 11rem;
    height: 4rem;
  }
  
  .pagetitle {
    text-align: center;
    font-size: 3rem;
    padding-top: 3rem;
  }
}

.memo-lg {
  position: relative;
  width: 80rem;
  height: 75%;

  .masking-tape {
    left: 40%;
    width: 13rem;
    height: 4rem;
  }
  
  .pagetitle {
    text-align: left;
    font-size: 3rem;
    padding-top: 3rem;
  }
}

// ---- form ----
.form {
  display: flex;
  justify-content: center;
  
  .input-box {
    padding-top: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    width: 30rem;
    
    label {
      font-size: 1.3rem;
      position: absolute;
      top: 1.2rem;
      text-align: center;
    }
    
    input {
      line-height: 1.5rem;
    }
  }
  
  .select-box {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    
    select:first-child {
      margin-right: 4rem;
    }
  }
  
  .check-box {
    position: relative;
    text-align: center;
    
    &:first-child {
      margin-top: 1rem;
    }
  }
  .file-box {
    position: relative;
    padding-top: 4.2rem;
    display: flex;
    justify-content: center;
    
    label {
      font-size: 1.3rem;
      text-align: center;
      position: absolute;
      top: 2rem;
    }
  }
  
  .submit {
    text-align: center;
    padding-top: 2rem;
    
    input[type="submit"] {
      color: #000;
      background: #BBDEFC;
      border: none;
      padding: 8px 20px;
      cursor: pointer;
      border-radius: 20%;
      box-shadow: 3px 3px 5px #666666;
      opacity: 0.9;
      font-weight: bold;
    
      &:hover {
        box-shadow: none;
        opacity: 1;
        box-shadow: 1px 1px 3px #666666;
      }
    }
  }
}

// ---- form ----

// --- profile-image-size ---
.profile-image-lg {
  width: 18rem;
  height: 18rem;
}

.profile-image-md {
  width: 7rem;
  height: 7rem;;
}
// --- profile-image-size ---

// --- scroll ---
.scroll {
  overflow: auto;
  height: 50vh;
}

.scroll::-webkit-scrollbar {
    width: 15px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
	background: #f2f2f2;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
	background:#09C9D9;
}
// --- scroll ---
// --- button ---
.btn {
  border: none;
  width: 10rem;
  line-height: 2.4rem;
  cursor: pointer;
  border-radius: 20%;
  box-shadow: 3px 3px 5px #666666;
  opacity: 0.9;
  
  &:hover {
    box-shadow: none;
    opacity: 1;
    box-shadow: 1px 1px 3px #666666;
  }
}

.follow {
  color: #fff;
  background: #42C7C1;
  font-weight: bold;
  text-align: center;
}
.unfollow {
  color: #fff;
  background: #F44747;
  font-weight: bold;
  text-align: center;
}
// --- button ---

// ---- login ----
.introduction
{
  color: #fff;
  font-weight: bold;
  font-size: 4rem;
  margin: 0;
}
.login_egg
{
  width: 38rem;
  height: 48rem;
  background-color: #FFF;
  border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  position: relative;
  
  .login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
    h2 {
    font-weight: bold;
    color: #3399FF;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    }
    
    .easy-login {
      margin-top: 1rem;
      color: #000;
      background: #E0E274;
      border: none;
      padding: 8px 20px;
      cursor: pointer;
      border-radius: 20%;
      box-shadow: 3px 3px 5px #666666;
      opacity: 0.9;
      text-decoration: none;
      font-weight: bold;
    
      &:hover {
        box-shadow: none;
        opacity: 1;
        box-shadow: 1px 1px 3px #666666;
      }
    }
  }
}

// ---- login ----

// --- user/show ---
.user-info {
  position: absolute;
  top: 10rem;
  width: 29rem;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  
  h3, p {
    margin: 0;
  }
  
  h3 {
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .relationships {
    margin-top: 1rem;
    
    a {
      font-weight: bold;
    } 
  }

  .follow-switch {
    text-align: center;
    margin-top: 1.4rem;
    
    input[type="submit"] {
      font-size: 1.2rem;
    }
  }
  
  .settings {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    
    a {
      border: none;
      width: 16rem;
      line-height: 3rem;
      cursor: pointer;
      border-radius: 20%;
      box-shadow: 3px 3px 5px #666666;
      opacity: 0.9;
      background: #BBDEFC;
      margin-bottom: 1rem;
      font-weight: bold;
  
      &:hover {
        box-shadow: none;
        opacity: 1;
        box-shadow: 1px 1px 3px #666666;
        text-decoration: none;
      }
    }
  }
}

.card-lists, .feed {
  position: absolute;
  width: 45rem;
  top: 4rem;
  left: 32rem;
  
  .nav-item {
    font-weight:bold;
  }
}

.microposts, .user-records, .studying-records {
  ul {
    li {
      list-style: none;
      .card {
        position: relative;
        height: 10rem;
        width: 40rem;
        margin: 1rem 0 0 2.5rem;
        border-radius: 30px;
        
        .user-bio {
          width: 14rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: .4rem;
          
          a {
            font-size: 1.4rem;
            font-weight: bold;
          }
          
          .user-attributes {
            font-size: 1.4rem;
            position: absolute;
            top: 7.3rem;
            left: 13rem;
          }
        
        }
        
        .micropost-content, .record-label {
          width: 24rem;
          position: absolute;
          top: 1rem;
          left: 13rem;
          
          p {
            font-size: 1.3rem;
            margin: 0;
            font-weight: bold;
          }
        }
        
        .micropost-bio, .record-bio {
          width: 24rem;
          position: absolute;
          top: 7rem;
          left: 13rem;
          display: flex;
          
          p {
            font-size: 1.3rem;
            
            &:nth-child(2) {
              margin-left: .5rem;
            }
          }
          
          a {
            font-weight: bold;
            font-size: 1.4rem;
            margin-left: 0.3rem;
          }
          
          button {
            border: none;
          }
          .fa-heart {
            background: none;
            border-style: none;
            color: #FF0066;
            position: absolute;
            top: -.2rem;
            right: 2rem;
          }
          
          .like-counts {
            font-size: 1.6rem;
            position: absolute;
            top: -.2rem;
            right: .7rem;
          }
          
          .fa-thumbs-up {
            background: none;
            border-style: none;
            position: absolute;
            top: -0.5rem;
            left: 19rem;
            color: #0099FF;
          }
          .support-counts {
            position: absolute;
            top: -0.4rem;
            left: 21.4rem;
            font-size: 1.6rem;
            margin: 0 0 0 .3rem;
          }
        }
        
      }
    }
  }
}


// ---- record/index ----
.studying-people {
  h1 {
    margin-top: 2rem;
    font-weight: bold;
    color: #3399FF;
  }
  
  p {
    font-weight: bold;
  }
}

.studying-records {
  display: flex;
  justify-content: center;
}
// ---- record/index ----

// ---- timeline ----
.post-box {
  position: absolute;
  width: 35%;
  height: 35%;
  top: 25%;
  left: 2%;
  text-align: center;
  
  .guide {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  textarea {
    border: 2px solid #0494D6;
    border-radius: 0.67em;
    padding: 0.5em;
    background-color: snow;
    width: 90%;
    height: 10rem;
    font-size: 1em;
    line-height: 1.2;
    
    &:focus {
      border-color: skyblue;
      background-color: #ffc;
      outline: none;
    }
  }  
  
  .tweet-btn {
    border: none;
    width: 90%;
    height: 3rem;
    cursor: pointer;
    box-shadow: 3px 3px 5px #666666;
    opacity: 0.9;
    background: #ED9C25;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
  
    &:hover {
      box-shadow: none;
      opacity: 1;
      box-shadow: 1px 1px 3px #666666;
    }
  }
}

// ---- timeline ----

// ---- record/new ----
.study-new {
  .form {
    textarea {
      border: 2px solid #0494D6;
      border-radius: 0.67em;
      padding: 0.5em;
      margin-bottom: 1rem;
      background-color: snow;
      width: 90%;
      height: 10rem;
      font-size: 1em;
      line-height: 1.2;
    
      &:focus {
        border-color: skyblue;
        background-color: #ffc;
        outline: none;
      }
    }
  }
}
// ---- record/new ----

// ---- result ----
.result {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  height: 80%;
  
  .label {
    text-align: center;
    border: 2px;
    border-bottom: 3px solid #0199D9;
    margin: 2rem auto 0;
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  .elapsed_time {
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.7rem;
    margin-top: 2rem;
  }
  
  .yell {
    margin: 1rem auto 0;
    display: flex;
    
    .fa-thumbs-up {
      color: #0099FF;
      margin-right: 1.5rem;
    }
    
    .support-counts {
      font-weight: bold;
    }
  }
  
  a {
    color: #000;
    background: #BBDEFC;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 20%;
    box-shadow: 3px 3px 5px #666666;
    opacity: 0.9;
    font-weight: bold;
    width: 9rem;
    margin: 1.5rem auto 0;
    text-decoration: none;
    
    &:hover {
      box-shadow: none;
      opacity: 1;
      box-shadow: 1px 1px 3px #666666;
    }
  }
}
// ---- result ----

.user-lists {
  position: absolute;
  width: 43rem;
  top: 20%;
  left: 9%;
  height: 76%;
  
  li {
    list-style: none;
  
    .card {
      position: relative;
      height: 10rem;
      width: 40rem;
      border-radius: 30px;
      margin-bottom: 1rem;
      
      .user-bio {
        width: 13rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: .4rem;
        
        a {
          font-size: 1.4rem;
          font-weight: bold;
        }
        
        .user-attributes {
          font-size: 1.4rem;
          position: absolute;
          top: 4rem;
          left: 13rem;
          font-weight: bold;
        }
      }
      
      .follow-swtich {
        position: absolute;
        top: 3rem;
        left: 24rem;
        
        input[type="submit"] {
          font-size: 1.2rem;
    }
      }
    }
  }
}
// /*---------------Start of user/edit---------------*/
.setting-form, .alter-password
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
  position: relative;
  margin-top: 1rem;
  
  tr {
    line-height: 3rem;
    
    input#book_img {
      font-size: 1.3rem;
    }
  }
  .image {
    width: 6rem;
    height: 6rem;
  }
}

.buttons {
  margin-top: 2rem;
  
  input[type="submit"] {
    background: #0497D8;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    margin-right: 1rem;
  }
  
  a {
    background: #fff;
    color: #000;
    font-weight: bold;
    font-size: 1.4rem;
  }
}

.studying_banner {
  background: #fff;
  width: 80%;
  height: 90%;
  align-items: center;
  display: flex;
  border-left: double 2.3rem #0385C8;
  border-right: double 2.3rem #0385C8;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, .4);
  position: relative;
  
  img {
    margin-left: 3rem;
  }
  
  .study-menu {
    margin-left: 10rem;
    
    a {
      background: #0289D6;
      color: #fff;
      font-weight: bold;
      font-size: 1.4rem;
      
      &:last-child {
        background: red;
      }
    }
  }
  
  .label {
    width: 30%;
    height: 90%;
    padding: 1rem;
    margin-left: 6rem;
    margin-bottom: .4rem;
    text-align: center;
    border: 2px;
    border-bottom: 3px solid #0199D9;
    
    p {
      width: 90%;
      margin: 0 auto;
    } 
  }
  
  .yells {
    margin-left: 14rem;
    
    .fa-thumbs-up {
      background: none;
      border-style: none;
      color: #0099FF;
    }
  }
}

.about {
  text-align: center;
  margin-top: 2rem;

  .title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    margin-top: 4rem;
    color: #038AD0;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}


footer {
  background: #fff;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  p {
    margin-bottom: 0px;
  }
}

 @media screen and (max-width: 1200px) {
  .memo-sm {
    height: 30rem;
    
    .pagetitle {
      font-size: 2.4rem;
      padding-top: 2rem;
    }
  }
   
  .memo-md {
    height: 80%;
    .masking-tape {
      left: 40%;
      width: 10rem;
      height: 3.4rem;
    }
    .pagetitle {
      padding-top: 1.7rem;
      font-size: 2.4rem;
    }
  }
  
  .form {
    .input-box {
      padding-top: 2rem;
      
      label {
        top: .2rem;
      }
    }
    
    .select-box {
      padding-top: 1rem;
    }
    
    .submit {
      padding-top: 1rem;
    }
  }
  
  .study-new {
    .form {
      textarea {
        height: 7.6rem;
      }
    }
  }
  .user-info {
     top: 6rem;
  }
  
  .setting-form {
    tr {
      line-height: 2.7rem;
    }
    
    .buttons {
      margin: 0;
    }
  }
  
  .studying_banner {
    
    
    img {
      width: 6rem;
      height: 6rem;
    }
  
    .study-menu {
      margin-left: 4rem;
    
      a {
        background: #0289D6;
        color: #fff;
        font-weight: bold;
        font-size: 1.4rem;
        
        &:last-child {
          background: red;
        }
      }
    }
  
    .label {
      height: 100%;
      
      p {
        font-size: 1.3rem;
      }
    }
  
    .yells {
      margin-left: 4rem;
    }
  }
}
@media screen and (max-width: 896px) {
  .memo-md {
    height: 55%;
  }
}
@media screen and (max-width: 480px) {
  .memo-md {
    height: 80%;
    
    .masking-tape {
      left: 15rem;
      width: 8rem;
      height: 3rem;
    }
    
    .pagetitle {
      font-size: 2.4rem;
      padding-top: 1.7rem;
    }
  }
  
  .memo-lg {
    height: 100%;
  }
}